<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @commentaire.description %>
</p>

<p>
  <strong>Post:</strong>
  <%= @commentaire.post %>
</p>

<%= link_to 'Edit', edit_commentaire_path(@commentaire) %> |
<%= link_to 'Back', commentaires_path %>
